<!DOCTYPE html>
<html>
<head>
	<title>Intro to Programming Notes</title>
	<link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<header>
	<h1 style="margin: 0 font-size: 60px" class="homepage-title">Intro to Programming Notes</h1>
	<div class="navigation-bar">
		<ul>
			<li><a href="stage1.html">Stage 1</a></li>
			<li><a href="stage2.html">Stage 2</a></li>
			<li><a href="stage3.html">Stage 3</a></li>
			<li><a href="stage4.html">Stage 4</a></li>
		</ul>
	</div>
</header>
<body>
	{% block content %}
	{% endblock %}
<footer>back to <a href="/">home page</a></footer>
</body>
</html>
