{% extends "base.html" %}

<body>
{% block content %}
<h1 id="section-0" style="background: transparent; color: white;">
	In the beginning
</h1>
<div class="lesson">
	<h2 id="lesson-1">
		Introduction to Networks
	</h2>
	<div class="concept">
		<div class="concept-title" id="lesson-0-1">
			<b></b>
		</div>
		<div class="concept-description">These are my Notes from the 5 Stages of the Intro to Programming Udacity course. This course has taught me a lot about how the internet work and how html, css, java, jQuery, and SQL work. I understand a lot more now, and not only do I know alot more but I have a better mindset and can think like a programming and know how to handle differnt situation. The only programming lanuguage a I knew before this course was a little bit of C++ and so I could follow a little because some of the syntax and structure was the same but I have learned much more in this course.
        </div>
    </div>
</div>
{% endblock %}
</body>
<footer>
	{% block footer %}
	{% endblock %}
</footer>
