{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <title>{% block title %}
    Gabriel's Notes{% endblock %}
  </title>
</head>
{% block body %}
  <h1 id="section-5" class="h1">
    Stage 5: Choosing My Next Step
  </h1>
  <div class="lesson">
      <h2 id="lesson-1">
        Lesson 1: Meet Javascript
      </h2>
    <div class="concept">
      <div class="concept-title" id="lesson-1-1">
        <b>Javascript</b>
      </div>
      <div class="concept-description">
        <p>Javascript gives us a way of saving data in the form of variables. The format looks like this:
          <br><span class='code'>var (VariableName) = 'somevariable';</span><br>
          <span class='code'> var</span> declares a new variable for all data types.
        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-1-2">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-1-3">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-1-4">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-1-5">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="lesson" id="lesson-2">
    <h2>
      Lesson 2: The Power of APIs
    </h2>
    <div class="concept">
      <div class="concept-title" id="lesson-2-1">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-2-2">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
  </div>
  <div class="lesson" id="lesson-3">
    <h2>
      Lesson 3: Recursion and Parallel Computing
    </h2>
    <div class="concept">
      <div class="concept-title" id="lesson-3-1">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-3-2">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
  </div>
  <div class="lesson" id="lesson-4">
    <h2>
      Lesson 4: Solving Big Problems
    </h2>
    <div class="concept">
      <div class="concept-title" id="lesson-4-1">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-4-2">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
  </div>
  <div class="lesson" id="lesson-5">
    <h2>
      Lesson 5: Making Pages Look Good
    </h2>
    <div class="concept">
      <div class="concept-title" id="lesson-5-1">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-5-2">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
  </div>
  <div class="lesson" id="lesson-6">
    <h2>
      Lesson 6: Go Explore!
    </h2>
    <div class="concept">
      <div class="concept-title" id="lesson-6-1">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
    <div class="concept">
      <div class="concept-title" id="lesson-6-2">
        <b></b>
      </div>
      <div class="concept-description">
        <p>

        </p>
      </div>
    </div>
  </div>
{% endblock %}
</html>
